body {
  height: 100%;
  width: 100%;
  position: absolute;
  & > div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    & > div.container-fluid, & > div.container {
      height: 100%;

      & > div.row {
        height: 100%;
      }
    }
  }
}

div.error_overlay {
  position: absolute;
  top: 10px;
  left: 30px;
  right: 30px;
  height: unset;
  width: unset;
}

div.col_collection_tree {
  white-space: nowrap;
  height: 100%;
  overflow: scroll;
}

div.col_collection_view {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.hide { display: none; }

img.spinner {
  width: 16px;
  height: 16px;
}

.iiif_link {
  display: inline-block;
  width: 21px; // 34
  height: 18px; // 30
  background-image: url('logo-iiif-small.png');
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  margin: 0 2px;
}

.manifest_view_wrapper { background-color: white; }

.collection_tree {
  .sub_collections {
    padding-left: 20px;
  }

  .collection_node {
    .title_line {
      padding: 2px;

      &.selected {
        border: 3px solid rgba(0, 123, 255, .25);
        border-radius: 0.25rem;
        background-color: rgba(0, 123, 255, .1);
      }
    }
  }
}

.collection_view {
  .title_row { 
    margin-top: 15px; 
    &>.col { display:flex }
  }

  .logo {
    &>img { height: 60px; }
  }

  h1 {
    margin-top: 6px;
  }

  .info_row {
    text-align: right;
    line-height: 18px;
  }
}

.manifest_list {
  .manifest_preview_card {
    .card-header {
      font-size: 1rem;
      padding: 0.5rem;
      overflow: hidden;
      display: flex;
      align-items: center;

      .logo {
        height: 1.5rem;
        order: 1;
      }

      button { 
        text-align: left;
        padding: 0; 
        flex-grow: 1; 
        order: 2; 
      }
    }
    
    .card-footer {
      color: #666;
      padding: 0.25rem 1.25rem;
      display: flex;
      align-items: center;

      .show_details {
        flex-grow: 1;

        button { 
          padding: 0;
          color: #666; 

          &:before {
            content: 'Hide ';
          }
          &.collapsed:before {
            content: 'Show ';
          }
        }
      }
      .image_count {
        padding-right: 5px;
        &:after {
          content: ' - ';
        }
      }

    }

    margin-top: 1rem;
  }
}

.manifest_list .manifest_preview_card, .manifest_view .canvas_list {
  .canvas_line {
    white-space: nowrap;
    overflow: hidden;
    padding: 2px;
    margin: -2px;
  }

  .card-header .btn { white-space: normal; }

  .canvas_preview { 
    display: inline-block;
    height: 62px; 
    border-radius: 0.2rem;
    border: 1px solid transparent;
    padding: 0;
    
    & + .canvas_preview {
      margin-left: 10px;
    }

    &:hover {
      box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
      border-color: rgba(0,123,255,.5);
    }
  }
}

.manifest_view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: inherit;

  &>.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 38px;
    background-color: inherit;
    display: flex;
    justify-content: space-between;

    .logo { height: 38px; }

    h1 {
      font-size: 1.5rem;
      white-space: nowrap;
      overflow: hidden;
      line-height: 38px;
      margin: 0 0.5rem;
    }

    .close_button, .menu_button {
      font-size: 16px;
      width: 40px;
      height: 38px;
    }

    text-align: center;
  }

  .manifest_zoomer {
    position: absolute;
    top: 38px;
    bottom: 100px;
    width: 100%;
    &>.osd_container {
      width: 100%;
      height: 100%;
    }
  }

  .manifest_view_menu {
    position: absolute;
    width: 40%;
    top: 38px;
    bottom: 100px;
    right: -45%;
    background-color: inherit;
    box-shadow: 0 0 0.1rem 0.1rem rgba(0,0,0,0.25);
    transition: right .35s ease;
    border: 1px solid #ccc;
    transition: right .35s ease;

    &.show {
      right: 0%;
    }
    
    &>div {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &>.nav-tabs {
        flex-shrink: 0;
      }
      &>.tab-content {
        overflow: hidden;
        position: relative;
        flex-grow: 1;
        &>.tab-pane {
          overflow-y: scroll;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    .tab-content>.tab-pane {
      padding-top: 5px;
    }
  }

  .canvas_list {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 100px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: inherit;

    .canvas_line {
      height: 100px;
      margin: 0;
      overflow: unset;
    
      .canvas_button {
        padding-top: 2px;
        overflow: hidden;
        margin: 0 5px;
        display: inline-block;
        text-align: center;
        min-width: 70px;

        &.selected {
          .canvas_label {
            font-weight: bold;
          }
          .canvas_preview {
            box-shadow: 0 0 0.1rem 0.1rem rgba(0,123,255,.5);
            border-color: rgba(0,123,255,.75);  
          }
        }
      }

    }
  }
}

.structures_view {
  .range_node {
    &.selected>.title {
      border: 3px solid rgba(0, 123, 255, .25);
      border-radius: 0.25rem;
      background-color: rgba(0, 123, 255, .1);
    }
  }

  .sub_ranges {
    padding-left: 20px;
  }
}