body {
  height: 100%;
  width: 100%;
  position: absolute;
  & > div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    & > div.container-fluid, & > div.container {
      height: 100%;

      & > div.row {
        height: 100%;
      }
    }
  }
}

div.error_overlay {
  position: absolute;
  top: 10px;
  left: 30px;
  right: 30px;
  height: unset;
  width: unset;
}

div.col_collection_tree {
  white-space: nowrap;
  height: 100%;
  overflow: scroll;
}

div.col_collection_view {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.hide { display: none; }

.spinner {
  position: relative;
  animation: fa-spin 1s infinite linear;
}

.iiif_link {
  display: inline-block;
  width: 21px; // 34
  height: 18px; // 30
  background-image: url('logo-iiif-small.png');
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  margin: 0 2px;
}

.collection_tree {
  .sub_collections {
    padding-left: 20px;
  }

  .collection_node {
    .title_line {
      padding: 2px;

      &.selected {
        border: 3px solid rgba(0, 123, 255, .25);
        border-radius: 0.25rem;
        background-color: rgba(0, 123, 255, .1);
      }
    }
  }
}

.collection_view {
  .title_row { margin-top: 15px; }

  .logo {
    float: left;
    &>img { height: 60px; }
  }

  h1 {
    margin-top: 6px;
  }

  .info_row {
    text-align: right;
    line-height: 18px;
  }
}

.manifest_list {
  .manifest_preview_card {
    .card-header {
      font-size: 1rem;
      padding-left: 2.2rem;
      .logo {
        height: 1.5rem;
        position: absolute;
        left: 0.5rem;
        top: 0.6rem;
      }
    }
    .canvas_line {
      white-space: nowrap;
      overflow: hidden;
    }
    .card-footer {
      color: #666;
      padding: 0.25rem 1.25rem;

      .show_details {
        float: left;
        button { 
          padding: 0;
          color: #666; 

          &:before {
            content: 'Hide ';
          }
          &.collapsed:before {
            content: 'Show ';
          }
        }
      }
      .image_count {
        float: right;
        padding-right: 28px;


        &:after {
          content: ' - ';
        }
      }

      .iiif_link {
        position: absolute;
        display: inline-block;
        right: 19px;
        bottom: 10px;
      }
    }

    .canvas_preview { 
      display: inline-block;
      height: 62px; 
      border-radius: 0.2rem;
      border: 1px solid transparent;
      
      & + .canvas_preview {
        margin-left: 10px;
      }

      &:hover {
        box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
        border-color: rgba(0,123,255,.5);
      }
    }

    margin-top: 1rem;
  }
}